@model Msts.Mvc.Areas.Chapter14.Models.HelperMethodsModel

@{
    ViewBag.Title = "ScaffoldTheModelReadOnly";
}

<h2>ScaffoldTheModelReadOnly</h2>

<fieldset>
    <legend>HelperMethodsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAccepted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAccepted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedJob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedJob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FavoriteColor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteColor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SimpleTextbox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SimpleTextbox)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SimpleTextArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SimpleTextArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditCard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditCard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HtmlText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HtmlText)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
