@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <fieldset>
            <legend>
                Something to post
            </legend>
            <div>
                <label for="username">Username:</label>
            </div>
            <div>
                @Html.TextBox("username")
                @*<input type="text" name="username" id="username" />*@
            </div>
            <div>
                <input type="submit" name="send" value="Send data" />
            </div>
        </fieldset>
    }
</div>