@model SportsStore.Domain.Entities.Product

<div class="item">
    @{
        if (this.Model.ImageData != null)
        {
            <img width="150" height="150" src="@Url.Action(MVC.Product.GetImage(this.Model.ProductID))" />
        }
    }
    <br />
    <h3>@this.Model.Name</h3>
    @this.Model.Description
    <br />
    @Html.ActionLink("Download full details", MVC.Product.GetProductInfo(this.Model.ProductID))
    <h4>@this.Model.Price.ToString("c")</h4>

    @*@using (@Html.BeginForm("AddToCart", "Cart", new { productID = this.Model.ProductID, returnUrl = this.Request.Url.PathAndQuery }))*@
    @using (@Html.BeginForm(MVC.Cart.AddToCart(null, this.Model.ProductID, this.Request.Url.PathAndQuery)))
    {
        <input type="submit" id="addToCart" name="addToCart" value="+ Add to Cart" />
    }
    <hr />
</div>