@model ICollection<AuthenticationClientData>

Remmeber to bind your local application to your test domain

<a href="http://blogs.msdn.com/b/webdev/archive/2012/09/19/configuring-your-asp-net-application-for-microsoft-oauth-account.aspx">For more information</a>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Log in using another service</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            if (p.ExtraData != null && p.ExtraData.ContainsKey("Icon"))
            {
                <input 
                    type="image" 
                    src="@Url.Content(p.ExtraData["Icon"].ToString())"
                    name="provider"
                    id="provider"
                    style="width:50px;height:50px;"
                    value="@p.AuthenticationClient.ProviderName"
                    title="Log in using your @p.DisplayName account" />
            }
            else
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
            }
        }
        </p>
    </fieldset>
    }
}
