@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <style>
            .breadcrumb {
                background-color:silver;
            }
        </style>
        <style>
            #nav, .nav, #nav .nav li { margin:0px; padding:0px; }
            #nav li {float:left; display:inline; cursor:pointer; list-style:none; padding:0px 10px 0px 10px; border:1px #000 solid; position:relative;}
            #nav li ul.first {left:-1px; top:100%;}

            li, li a {color:#000; text-decoration:none;}
            #nav .nav li { width:100%; text-indent:10px; line-height:30px; margin-right:10px; border-top:1px #000 solid; border-bottom:1px #000 solid;
            border-left:none; border-right:none; background:#fff;}
            #nav li a {display:block; width:inherit; height:inherit;}

            ul.nav { display:none; }
            #nav li:hover > a, #nav li:hover { color:#fff; background:#000; }
            li:hover > .nav { display:block; position:absolute; width:200px; top:-2px; left:55%; z-index:1000; border:1px #000 solid; }
            li:hover { position:relative; z-index:2000; }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("My App", "Index", "Home", new { area = string.Empty }, null)</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <div class="float-left">
                        <div class="breadcrumb">
                            @Html.MvcSiteMap().SiteMapPath()
                        </div>
                        <div>
                            @Html.MvcSiteMap().Menu(startFromCurrentNode: false, startingNodeInChildLevel: true, showStartingNode: false)
                        </div>
                    </div>
                    <nav>
                        <ul id="menu">
                            <li><a href="@Url.Content("~/elmah.axd")">Elmah error page</a></li>
                            <li><a href="@Url.Content("~/glympse.axd")">Glympse configuration page</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <fieldset>
                <legend>
                    djend
                </legend>
                ndeindiende
            </fieldset>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        @MiniProfiler.RenderIncludes()
    </body>
</html>
