<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <style>
            .breadcrumb {
                background-color:silver;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("My App", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        @Html.MvcSiteMap().Menu(false, true, true)
                        <div class="breadcrumb">
                            @Html.MvcSiteMap().SiteMapPath()
                        </div>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Call WCF REST service", "CallWcfRestService", "Home")</li>
                            <li>@Html.ActionLink("Call WCF REST xDomain", "CallWcfRestCrossDomainService", "Home")</li>
                            <li>@Html.ActionLink("Call WCF REST Data service", "CallWcfRestDataService", "Home")</li>
                            <li>@Html.ActionLink("Call WCF REST Data Service xDomain", "CallWcfRestDataCrossDomainService", "Home")</li>
                            <li>@Html.ActionLink("Raise exception", "RaiseException", "Home")</li>
                            <li>@Html.ActionLink("Handled exception", "HandledException", "Home")</li>
                            <li><a href="@Url.Content("~/elmah.axd")">Elmah error page</a></li>
                            <li>@Html.ActionLink("Chapter 14 - Working with Action Results", "Index", "WorkingWithActionResults", new { area = "Chapter14" }, null)</li>
                            <li>@Html.ActionLink("Chapter 14 - PassingDataToActions", "Index", "PassingDataToActions", new { area = "Chapter14" }, null)</li>
                            <li>@Html.ActionLink("Chapter 14 - Caching", "Index", "Caching", new { area = "Chapter14" }, null)</li>
                            <li>@Html.ActionLink("Chapter 14 - Filters Life Cycle", "Index", "FiltersLifeCycle", new { area = "Chapter14" }, null)</li>
                            <li>@Html.ActionLink("Chapter 14 - Helper Methods", "Index", "WorkingWithHelperMethods", new { area = "Chapter14" }, null)</li>
                            <li>@Html.ActionLink("Simple EF Context resolver", "SimpleData", "Home")</li>
                            <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "Movies" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <fieldset>
                <legend>
                    djend
                </legend>
                ndeindiende
            </fieldset>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

    </body>
</html>
